<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/login"></ion-back-button>
		</ion-buttons>

		<ion-title>Sign in</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<div class="error-message login-failed" *ngIf="signupFailed">
		Signup failed, please retry
	</div>

	<div>
		<h2>Signup</h2>
	</div>

	<form [formGroup]="signupForm" (ngSubmit)="trySignup()">

		<ion-item>
			<ion-input formControlName="pseudo" [(ngModel)]="signup.pseudo" name="pseudo" type="text" placeholder="pseudo"></ion-input>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.pseudo">
					<div class="error-message" *ngIf="signupForm.get('pseudo').hasError(validation.type) && (signupForm.get('pseudo').dirty || signupForm.get('pseudo').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</ion-item>

		<ion-item>
			<ion-input formControlName="email" [(ngModel)]="signup.email" name="email" type="text" placeholder="email"></ion-input>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email">
					<div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
					{{ validation.message }}
					</div>
				</ng-container>
				</div>
		</ion-item>

		<ion-item>
			<ion-input formControlName="password" [(ngModel)]="signup.password" name="password" type="password" placeholder="password"></ion-input>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.password">
					<div class="error-message" *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
		</ion-item>

		<div padding>
			<ion-button size="block" type="submit">Sign Up</ion-button>
		</div>
	</form>
</ion-content>