<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/meals"></ion-back-button>
        </ion-buttons>

        <ion-title *ngIf="meal">Recette {{meal.name}} (niveau {{meal.level}})</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div *ngIf="meal">
        <ion-card>
            <img src="http://localhost:3000/uploads/meals/{{meal._id}}.jpg" />
            <ion-card-header>
                <ion-card-title>{{meal.name}}</ion-card-title>
                <ion-card-subtitle>{{meal.realisation}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <br>
                <ion-text>
                    <h1>Ingredients</h1>
                    <br>
                </ion-text>

                <ion-text *ngFor="let ingredient of meal.ingredients">

                    <span *ngIf="ingredient" style="margin-left: 15px;">• {{ingredient.quantity}} {{ingredient.ingredient.name}}</span>
                    <br>

                </ion-text>

                <br>
                <hr noshade>
                <br>

                <ion-text>
                    <h1>Recette</h1>
                    <br>
                </ion-text>

                <div *ngFor="let step of meal.steps">
                    <ion-text>
                        <h2 style="margin-left: 5px;">Etape {{step.step}}</h2>
                        <br>
                        <p style="margin-left: 15px;">{{step.instruction}}</p>
                        <br>
                    </ion-text>
                </div>

                <hr noshade>
                <br>

                <ion-text style="text-align: justify; text-justify: inter-word;">
                    <h1>Vous avez fait ce plat ? Alors partagez le à vos amis et gagnez de l'expérience pour pouvoir avoir acces à d'autres plats !</h1>
                    <br>
                    <ion-button expand="block" onclick="shareYourMeal()">Partager son plat</ion-button>
                </ion-text>

            </ion-card-content>
        </ion-card>
    </div>
</ion-content>