<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form action="/page/addimagetoingredient" method="post" enctype="multipart/form-data">
    Ingredients<br>

    <div class="ingredientcontainer"></div>

    <input type="file" name="filetoupload"><br>

    <input type="submit" value="Submit">
</form>


<script>

    $.getJSON('/api/ingredients', function(data) {
        $(document).ready(function() {

            var ingredientcontainer = $(".ingredientcontainer");

            var options = "";

            data.forEach(function (d) {
                options += "<option value=" + d._id + ">" + d.name + "</option>";
            })

            $(ingredientcontainer).append('<select name="ingredientid"> ' + options + ' </select>');

        });
    });

</script>