<form action="/api/ingredient" method="post">
    Name: <input type="text" name="name"><br>
    Benefits: <input type="text" name="benefits"><br>
    Things to know: <input type="text" name="things_to_know"><br>
    <input type="submit" value="Submit">
</form>