<ion-menu side="start" menuId="first" content-id="main">
  <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item detail>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-button (click)="toHome()">Home</ion-button>
      </ion-item>

      <ion-item detail>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-button (click)="toProfile()">Profile</ion-button>
      </ion-item>

      <ion-item (click)="toMessages()" detail>
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-button (click)="toMessages()">Messages</ion-button>
      </ion-item>

      <ion-item (click)="toSettings()" detail> 
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-button (click)="toSettings()">Settings</ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click) ="logout()">Log Out</ion-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>
