$white-color: #fff;
$height100: 100%;


ion-button {
    font-weight: 300;
}


.login-failed {
    padding-bottom: 5%;
}

// FORM VALIDATION

//-- Validation failed
ion-item.ion-invalid.ion-touched{
    border-bottom: 2px solid var(--ion-color-danger) !important;
}

//-- Validation passed
ion-item.ion-valid.ion-touched{
 border-bottom: 2px solid var(--ion-color-success) !important;
}