<ion-header>
  <ion-toolbar>
    <ion-title>ModalPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <!-- Checkboxes in a List -->
 
<form (ngSubmit)="logForm(form)">
  <ion-list>
    
  </ion-list>
  
  <ion-list>

    <ion-item>
      <ion-label>Votre impression </ion-label>
      <ion-input type="text" [(ngModel)]="review.description" name="description"></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label>Je recommande le plat </ion-label>
      <ion-checkbox [(ngModel)]="review.recommande" name="recommande"></ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-label>Un plat diététique </ion-label>
      <ion-checkbox [(ngModel)]="review.diet" name="diet"></ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-label>Un plat difficile à mettre en place</ion-label>
      <ion-checkbox [(ngModel)]="review.hard" name="hard"></ion-checkbox>
    </ion-item>
  
  </ion-list>

  <br><br>

  <ion-button type="ngSubmit" >Envoyer</ion-button>

</form>

<br><br>
<ion-button (click)="close()" name = "close">Fermer</ion-button>
</ion-content>
